
<div id="chartBuilderApp" class="container chartBuilderApp">

  <div id="chartModal" class="chart-modal-group" layout="row">

    <div class="new-chart" flex>

      <div class="chart-modal-image">
        <img src="../../src/assets/images/new-chart.svg" />
      </div>


      <span class="chart-builder-link btn">
            <a ui-sref="chartBuilder" ui-sref-active="active"> Create a New Chart </a>
           </span>
    </div>

    <div class="list-charts" flex>

      <div class="chart-modal-image">
        <img src="../../src/assets/images/bar.png" />
      </div>

      <span class="chart-builder-link btn">
            <a ui-sref="chartView" ui-sref-active="active">View Previous Charts</a>
          </span>
    </div>
  </div>
  <!--chart modal-->


</div>
