
<div class="chart-view-wrapper container">
  <md-content>
     <md-tabs md-dynamic-height md-border-bottom>
       <md-tab>
          <md-tab-label><i class="fa fa-table" aria-hidden="true"></i> </md-tab-label>
          <md-tab-body>
             <md-content class="md-padding">
              <chart-grid/>
             </md-content>
          </md-tab-body>
       </md-tab>

       <md-tab label="List View">
           <md-tab-label><i class="fa fa-list" aria-hidden="true"></i> </md-tab-label>
           <md-tab-body>
              <md-content class="md-padding">
                <chart-list/>
              </md-content>
           </md-tab-body>
       </md-tab>
     </md-tabs>
   </md-tabs>
   </md-content>
</div>
